body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Da zauzme celu visinu ekrana */
    margin: 0;
    background-color: #f0f8ff;
    font-family: sans-serif;
}

.login-container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
